.imgGrid {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  max-width: 100%
}
.imgGrid .smalImgContainer {
  margin: 1em;
  width: 250px;
  height: 250px;

}
.imgGrid img {
 width: 100%;
}